{% extends "base.html" %}

{% block contenido  %}

<h1>Educacion e informacion importante para la nutricion:</h1>
<DIV class="row container p-3">
    <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">!LEE¡</h5>
        <p class="card-text">Leer correctamente las etiquetas nutricionales es una habilidad fundamental para tomar decisiones alimentarias más saludables. A través de ellas puedes conocer qué estás comiendo, comparar productos y evitar ingredientes que no benefician tu salud. Sin embargo, muchas veces su diseño o terminología puede generar confusión.</p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Contenidos:</h5>
        <p class="card-text">Para leer correctamente las etiquetas nutricionales necesitamos una habilidad para poder tomar decisiones ante los alimentos que consumimos, es decir, fijarnos más en cuantas calorias tiene, cuanto % de grasa tiene, en resumen, que sean productos, comida, platillos más saludables y comparar productos entre sí para ver cual es mas economica y cual es mejor en cuanto beneficios, aunque algunas veces su diseño ya que generan confusiones.</p>
      </div>
    </div>
  </div>
</div>
</DIV> 

{% endblock %}