{% extends "base.html" %}

{% block contenido  %}
<div class="container p-2 bg-info">
    <h1 class="text-center">Bienvenido a la aplicacion nutrimental Nutriapp</h1>

    <p class="text-center">En esta aplicacion poras hacer uso de varias herramientas, tales como, calculadoras, planes de ejercicions, resetas de comida que te ayuden a cumplir el objetivo que quieras, a continuacion te daremos algunas espesificacion, explicaciones y ejemplos acerca de esta aplicacion</p>
    
</div>


{% endblock %}