{% extends "base.html" %}

{% block contenido  %}

<div class="container p-2  bg-info">
    <h1 class="text-center">Bienvenido a la aplicacion nutrimental Nutriapp</h1>

    <p class="text-center">En esta aplicacion poras hacer uso de varias herramientas, tales como, calculadoras, planes de ejercicions, resetas de comida que te ayuden a cumplir el objetivo que quieras, a continuacion te daremos algunas espesificacion, explicaciones y ejemplos acerca de esta aplicacion, a continuacion mostraremos algunas de las funciones que forman a nuestra aplicacion:</p>
</div>


<div class="container text-center">
    <h2 class="mt-4 ">Funciones Principales:</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Registro de Usuario:</h5>
        <p class="card-text">Crea una cuenta personal para acceder a todas las funciones de Nutriapp.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Punto 1</small>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Perfil Personalizado:</h5>
        <p class="card-text">Ingresa tus datos personales y objetivos para recibir recomendaciones adaptadas a ti.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">punto 2</small>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Herramientas varias:</h5>
        <p class="card-text">Proporciona varias herramientas como calciuladoras para medir una variedad de datos importantes como IMC, TBM, CGT,etc</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">punto 3</small>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Planes de Alimentación:</h5>
        <p class="card-text">Obtén planes de comidas saludables basados en tus preferencias y objetivos.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">punto 4</small>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Educacion:</h5>
        <p class="card-text">Datos que debes conoser, como leer etiquetas, en que nos tenemos que fijar y mucha mas informacion importante para la correcta nutricion</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">punto 5</small>
      </div>
    </div>
  </div>
  
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Recetas y sujerencias: </h5>
        <p class="card-text">Daremos algunos ejemplos y recomendaciones derecetas y rutinas que te podrian ayudar para llegar a tu objetivo.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">punto 6</small>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}