{% extends "base.html" %}

{% block contenido  %}

<div class="container mt-4">
    <div class="container col-7 bg-info">
        <h2 class="text-center">Registro de Usuario</h2>
            {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endif %}
    <form action="{{ url_for('verificacion') }}" method="post" class="form-control"> 

                <div class="row">
                    <div class="col-6">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="col-6">
                        <label for="apelldos" class="form-label">apelldos:</label>
                        <input type="text" class="form-control" id="apellidos" name="apellidos" required>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <label for="nombre" class="form-label">Correo:</label>
                        <input type="email" class="form-control" id="Correo" name="Correo" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label for="contraseña" class="form-label">contraseña:</label>
                        <input type="password" class="form-control" id="contraseña" name="contraseña" minlength="8" required>
                    </div>
                    <div class="col-6">
                        <label for="confirmar" class="form-label">confirmar:</label>
                        <input type="password" class="form-control" id="confirmar" name="confirmar" required>
                    </div>
                </div>

            <h2 class="text-center">datos importantes </h2>
                <div class="row">
                    <div class="col">
                        <label for="nombre" class="form-label">edad:</label>
                        <input type="number" class="form-control" id="edad" name="edad" required>
                    </div>
                    <div class="col">
                        <label for="apelldos" class="form-label">altura(cm):</label>
                        <input type="number" class="form-control" id="altura" name="altura" required>
                    </div>
                    <div class="col">
                        <label for="nombre" class="form-label">peso(kg):</label>
                        <input type="number" class="form-control" id="peso" name="peso" required>
                    </div>
                    <div class="col">
                        <label for="apelldos" class="form-label">nivel de actividad:</label>
                        <select type="number" class="form-control" id="actividad" name="actividad" required>
                            <option value="1">1-Sedentario</option>
                            <option value="2">2-Ligeramente activo</option>
                            <option value="3">3-Moderadamente activo</option>
                            <option value="4">4-Muy activo</option>
                            <option value="5">5-Extremadamente activo</option>
                        </select>  
                    </div>
                </div>

                <div class="row container p-2">
                    <div class="col">
                        <label for="">Cual es tu objetivo principal?</label>
                        <select type="number" class="form-control" id="objetivo" name="objetivo" required>
                            <option value="0">otra</option>
                            <option value="1">Perder peso</option>
                            <option value="2">Mantener peso</option>
                            <option value="3">Ganar masa muscular</option>
                            <option value="4">controlar una condicion</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="row container p-2">
                        <h3 class="text-center">preferencias alimenticias:</h3>
                            <div class="col">
                                <label for="">alergias:</label>
                                <select type="number" class="form-control" name="alergia" id="alergia">
                                    <option value="ninguna">ninguna</option>
                                    <option value="manie">manie</option>
                                    <option value="mariscos">mariscos</option>
                                    <option value="soya">soya</option>
                                    <option value="trigo">trigo</option>
                                    <option value="otra">otra</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="">alimentacion:</label>
                                <select type="number" class="form-control" name="dieta" id="dieta">
                                    <option value="ninguna">ninguna</option>
                                    <option value="vegetariano">vegetariano</option>
                                    <option value="vegano">vegano</option>
                                    <option value="cetogenica">cetogenica</option>
                                    <option value="otra">otra</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="">intolerancias:</label>
                                <select type="number" class="form-control" name="intolerancia" id="intolerancia">
                                    <option value="ninguna">ninguna</option>
                                    <option value="lactosa">lactosa</option>
                                    <option value="gluten">gluten</option>
                                    <option value="frutos secos">frutos secos</option>
                                    <option value="otra">otra</option>
                                </select>
                            </div>
                    </div>
                </div>

            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>
</div>

{% endblock %}